:2018 {
  root /home
  requestid {
    key X-Request-Id
  }
  grpcproxy {
    path /capi
    except * /swagger
    except * /capi/resource.io
  }
  log / stdout "{remote} {when} {method} {uri} {proto} {status} {size} {latency_ms}ms"
}
